.profile-page {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, auto);
  /* gap: 30px; */
  padding: 20px;
}

.section {
  padding: 40px 30px;
}

/* Profile Left */

.profile-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border: 2px solid #ECDFCC;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile-info-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: -10px;
}

.profile-info-user img {
  width: 15px;
  height: 15px;
}

.profile-name {
  color: #edeff1;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
}

.profile-user {
  color: #edeff1;
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
}

.band-info {
  color: #edeff1;
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
  background-color: #1a1d23;
  border: 1px solid #676767;
  border-radius: 6px;
  padding: 0 8px;
}

.band-info:hover {
  background-color: #0a0d0f;
    cursor: pointer;
}

.profile-bio {
  color: #ECDFCC;
  font-size: 0.9rem;
}

.profile-location {
  color: #ECDFCC;
  font-size: 0.85rem;
  cursor: default;
}

/* Profile Right */

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-stats {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  column-gap: 25px;
  row-gap: 2px;
  align-items: center;
  justify-items: center; 
}

.stat {
  display: contents;
}

.follow-button {
  color: #edeff1;
  font-size: 0.80rem;
  font-weight: lighter;
  background-color: #1a1d23;
  border: 1px solid #676767;
  border-radius: 6px;
  padding: 0px 8px;
  cursor: pointer;
}

.follow-button:hover {
  background-color: #0a0d0f;
  cursor: pointer;
  color: #ECDFCC;
}

.follows-you {
  color: #ECDFCC;
  font-size: 0.85rem;
  cursor: default;
}

.stat-number {
  color: #edeff1;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.stat-label {
  color: #ECDFCC;
  font-size: 0.85rem;
  cursor: pointer;
}

/* Buttons */

.section-buttons {
  margin-left: 30px;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons {
  color: #edeff1;
  font-size: 0.9rem;
  font-weight: lighter;
  background-color: #1a1d23;
  border: 1px solid #676767;
  border-radius: 6px;
  padding: 0px 8px;
}

.buttons:hover {
  background-color: #0a0d0f;
  cursor: pointer;
}