@font-face {
  font-family: "TiemposHeadline-Regular";
  src: url("/assets/fonts/TiemposHeadline-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TiemposHeadline-Light";
  src: url("/assets/fonts/TiemposHeadline-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GraphicWeb-Regular";
  src: url("/assets/fonts/graphic-web-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orkney-Regular";
  src: url("/assets/fonts/Orkney-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  padding-top: 70px;
}

body {
  font-family: "TiemposHeadline-Regular", sans-serif;
  background-color: #191d24; /* alternativa a flick generado por gradiente: #0b0e13 */
  background-image:
    linear-gradient(#515151, #515151), url("/assets/backgrounds/darkdenim.png");
  background-blend-mode: overlay;
}

a {
  text-decoration: none;
  color: #99aabb;
}

a:hover {
  color: #b5cce2;
}
