@font-face {
  font-family: "Cinzel";
  src: url("/assets/fonts/Cinzel-VariableFont_wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("/assets/fonts/Cormorant-VariableFont_wght.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre-Baskerville";
  src: url("/assets/fonts/LibreBaskerville-VariableFont_wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre-Franklin";
  src: url("/assets/fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Libre-Baskerville";
  overflow-x: hidden;

  margin: 0;
  min-height: 100vh;

  background-color: #0b0e11;
  background-image: linear-gradient(
    to bottom,
    #151a1f 0%,
    #0b0e11 300px
  );

  background-repeat: no-repeat;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  position: relative;
}

.main-content::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.06) 1px,
    transparent 1px
  );
  background-size: 2px 2px;
  opacity: 0.15;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #ecdfcc;
}

a:hover {
  color: #ecdfcc;
}

/* SCROLLBAR */

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: rgba(236, 223, 204, 0.25) transparent;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(236, 223, 204, 0.25);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 223, 204, 0.45);
}